<div class='draggable toolbox' style="left: 20px; top: 21.4375px;">

	<div class='boxcontrols'>

		<div class='controlsheader centertext'>Tools</div>

		<div class='btn min' onclick="showhide('.toolbox','.min','minimise');"><span></span></div>

	</div>

	<div class="site-Controls"><!--site controls -->

		<div class="clearfix" style="margin-top: 20px;"></div>

		<div class="toolicon">&#xf040;</div>

		<div class="toolicon">&#xf059;</div>

		<div class="clearfix" style="margin-top: 50px;"></div>		

	</div>

	<div class="page-Controls controlBox hidden"><!--page controls -->

		<h3 class="controlmenuheader">Page</h3>

		<div class="toolbtn" onclick="showhide('.page-dimensionsControls','.closebtn','close');">Dimensions</div>

		<div class="toolbtn" onclick="showhide('.page-boxShadowControls','.closebtn','close');">Shadow</div>

	</div>

	<div class="header-Controls controlBox hidden"><!--header controls -->

		<h3 class="controlmenuheader">Header</h3>

		<div class="toolbtn" onclick="showhide('.header-boxShadowControls','.closebtn','close');">Shadow</div>

	</div>

	<div class="navigation-Controls controlBox hidden"><!--navigation controls -->

		<h3 class="controlmenuheader">Navbar</h3>

		<div class="toolbtn" onclick="showhide('.navigation-boxShadowControls','.closebtn','close');">Shadow</div>

	</div>

	<div class="maincontentWrapper-Controls controlBox hidden"><!--maincontentwrapper controls -->

		<h3 class="controlmenuheader">Content Container</h3>

		<div class="toolbtn" onclick="showhide('.maincontentWrapper-dimensionsControls','.closebtn','close');">Dimensions</div>

		<div class="toolbtn" onclick="showhide('.maincontentWrapper-boxShadowControls','.closebtn','close');">Shadow</div>

	</div>

	<div class="maincontent-Controls controlBox hidden"><!--maincontent controls -->

		<h3 class="controlmenuheader">Content</h3>

		<div class="toolbtn" onclick="showhide('.maincontent-boxShadowControls','.closebtn','close');">Shadow</div>

	</div>

	<div class="footer-Controls controlBox hidden"><!--footer controls -->

		<h3 class="controlmenuheader">Footer</h3>

		<div class="toolbtn" onclick="showhide('.footer-boxShadowControls','.closebtn','close');">Shadow</div>

	</div>

	<div class="seperator"></div>

	<div class="submit">Submit</div>

</div>

<div class='draggable debugBox' style="right: 0px; top: 21.4375px;">

	<div class='boxcontrols'>

		<div class='controlsheader centertext'>Debug</div>

		<div class='btn min' onclick="showhide('.debugBox','.min','minimise');"><span></span></div>

	</div>

	<div class="debugData">

		<div id="returnData">

		</div>

		<div class="clearfix" style="margin-top: 50px;"></div>		

	</div>

</div>