<div class='draggable $ClassName-dimensionsControls close' style="left: 180px; top: 21.4375px;">

	<div class='boxcontrols'>

		<div class='controlsheader'>$toolTitle Dimensions</div>

		<div class='btn min' onclick="showhide('.$ClassName-dimensionsControls','.min','minimise');"><span></span></div>

	</div>

	<div class="inputs">

			<p>Width</p>

			<input id="$ClassNamewidth" class="simple" name="$ClassNamewidth" type="range" min="50" max="100" step="5" data-attrib="width" data-target=".$ClassName" data-unit="%">

	</div>
<div class="clearfix"></div>
</div>